.shicon {
    display: none;
    width: 175px;
    height: 170px;
    left: 19px;
    top: 35px;
    position: absolute;
}

.sigtopIcon {
    display: none;
    position: absolute;
    top: -1px;
    right: 42px;
    height: 70px;
    z-index: 20;
    transform: rotate(90deg);
}